.container {
    min-height: 500px;
    display: flex;
    padding: 5px 5px;
    justify-content: center;
}

.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.width_100 {
    width: 100% !important;
}

.centeredContent{
    display: flex;
    justify-self: center;
    width: 75%;
}

.alignCenter {
    display: flex;
    align-self: center;
}